[submodule "assets/js/shorty"]
	path = assets/js/shorty
	url = git@github.com:gabrielnahmias/jquery-shorty.git
[submodule "assets/js/Console"]
	path = assets/js/Console
	url = git@github.com:gabrielnahmias/Console.js.git
[submodule "assets/cls/Browser"]
	path = assets/cls/Browser
	url = git@github.com:gabrielnahmias/Browser.php.git
[submodule "assets/js/leaflet"]
	path = assets/js/leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "assets/js/leaflet/plugins/store"]
	path = assets/js/leaflet/plugins/store
	url = https://github.com/yohanboniface/Leaflet.Storage.git
